<div class="container">
	<div class="row">
		<div class="col-md-10" style="margin-top: 10%; margin-left: 7%; margin-right: 7%;">
			<div class="row">
				<div class="col-sm-4" style="background-color: grey;">
					<h3 class="welcome-heading">Welcome!</h3>
					<p class="sub-heading">TEK Intelligent Candidate Screening </p>
				</div>
				<div class="col-sm-8" style="background-color: #eaeaea;">
				<p style="font-style: italic; margin-top: 6%; color: grey; font-size: 11px; margin-bottom: 6%">Please fill in your details to get started.</p>
				
				<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" [ngClass]="{'has-error':!complexForm.controls['usr'].valid && complexForm.controls['usr'].touched}">
  							<label for="usr" class="input-labels">Full Name</label>
							  <input type="text" pattern="[a-zA-Z\s]+" [(ngModel)]="newCandidate.candid_name" class="form-control" id="usr" name="usr" required [formControl]="complexForm.controls['usr']">
							  <div *ngIf="!complexForm.controls['usr'].valid && complexForm.controls['usr'].touched" class="alert alert-danger">Please enter a valid name.</div>
						</div>
						<div class="form-group" [ngClass]="{'has-error':!complexForm.controls['contact'].valid && complexForm.controls['contact'].touched}">
  							<label for="contact" class="input-labels">Contact No</label>
							  <input type="number" min="0" max="10" [(ngModel)]="newCandidate.candid_phone" class="form-control" id="contact" name="contact" required [formControl]="complexForm.controls['contact']">
							  <div *ngIf="complexForm.controls['contact'].hasError('required') && complexForm.controls['contact'].touched" class="alert alert-danger">Please enter a valid number.</div>
							  <div *ngIf="complexForm.controls['contact'].hasError('pattern') && complexForm.controls['contact'].touched " class="alert alert-danger">Contact number should have valid 10 digits.</div>
						</div>
						<div class="form-group">
  							<label for="exp" class="input-labels">No. of Experience</label>
							  <input type="number" min="0" [(ngModel)]="newCandidate.no_of_exp" class="form-control" id="exp" placeholder="In years" name="exp" required [formControl]="complexForm.controls['exp']">
						</div>
						<div class="form-group" [ngClass]="{'has-error':!complexForm.controls['selectGender'].valid && complexForm.controls['selectGender'].touched}">
  							<label for="gender" class="input-labels">Gender</label>
  							<select class="form-control" name="selectGender" id="selectedGender" 
  							[(ngModel)]="selectedGender" required [formControl]="complexForm.controls['selectGender']">
  								<option *ngFor="let gender of genders">
  									{{gender}}
  								</option>
							  </select>
							  <div *ngIf="complexForm.controls['selectGender'].hasError('pattern') && complexForm.controls['selectGender'].touched" class="alert alert-danger">Please select your gender.</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" [ngClass]="{'has-error':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
  							<label for="email" class="input-labels">Email</label>
							  <input type="text" [(ngModel)]="newCandidate.candid_email" class="form-control" id="email" name="email" required [formControl]="complexForm.controls['email']">
							  <div *ngIf="complexForm.controls['email'].hasError('email') && complexForm.controls['email'].touched" class="alert alert-danger">Please enter a valid email id.</div>
						</div>
						<div class="form-group" [ngClass]="{'has-error':!complexForm.controls['alt'].valid && complexForm.controls['alt'].touched}">
  							<label for="alt" class="input-labels">Alternate No</label>
  							<input type="number" min="0" max="10" [(ngModel)]="newCandidate.candid_phone2" class="form-control" id="alt"
							  name="alt" required [formControl]="complexForm.controls['alt']">
							  <div *ngIf="complexForm.controls['alt'].hasError('required') && complexForm.controls['alt'].touched" class="alert alert-danger">Please enter a valid number.</div>
							  <div *ngIf="complexForm.controls['alt'].hasError('pattern') && complexForm.controls['alt'].touched" class="alert alert-danger">Contact number should have valid 10 digits.</div>
						</div>
						<div class="form-group" [ngClass]="{'has-error':!complexForm.controls['dob'].valid && complexForm.controls['dob'].touched}">
  							<label for="dob" class="input-labels">Date of Birth</label>
							  <input type="date" [(ngModel)]="newCandidate.dob" class="form-control" id="dob" name="dob" [formControl]="complexForm.controls['dob']">
							  <div *ngIf="complexForm.controls['dob'].hasError('pattern') && complexForm.controls['dob'].touched" class="alert alert-danger">You should be atleast 18 years of age.</div>
						</div>
						<div class="form-group">
  							<label for="loc" class="input-labels">Preferred Location</label>
  							<select class="form-control" name="selectLocation" id="selectLocation" 
  							[(ngModel)]="selectedLocation" required [formControl]="complexForm.controls['selectLocation']">
  								<option *ngFor="let location of locations">
  									{{location}}
  								</option>
							  </select>
						</div>
					</div>
				</div>
				<button id="submitButton" type="submit" class="btn btn-primary proceed" (click)="insertCandidate()">Proceed</button>
				</form>
				
			</div>
		</div>
	</div>
</div>
