<div class="jumbotron">
		<h3 class="text-center">Welcome to Angular</h3>		
	</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="btn-group">
  				<button type="button" class="btn btn-primary" 
  				   [routerLink]="['/test']">
  					Create a Test
  				</button>
  				<button type="button" class="btn btn-primary"
  					[routerLink]="['/questions']">
  					View Questions
  				</button>
          <button type="button" class="btn btn-primary" 
            [routerLink]="['/review']">
            Review Tests
          </button>
			</div>
		</div>
	</div>
</div>
